<% unless user_signed_in? %>
	<div class="hero-unit">
		<h1>Welcome to Adam's Homemade Pinterest!</h1>
		<p>
			You've found the home page for the
			<%= link_to "Adam's Homemade Pinterest", "http://arkofman.com" %>
			application
		</p>
		<p><%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary brn-large" %></p>
	</div>
<% end %>