<h1>About</h1>
<p>
	<%= link_to "Adam's Homemade Pinterest", "http://rocky-earth-3331.herokuapp.com/" %>
	is a project where I've been learning
	<%= link_to "Ruby on Rails", "http://rubyonrails.org" %>.
</p>